body{
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
}

.text-white .card-header a{
    color: white;
}
.card-header a{
    color: black;
}

#fundo{
    //background-image: url(../image-shoping.jpg);
    background-size: 100%;
    background-image: linear-gradient(to right, #99994d, #d4d4aa,#99994d);
}
#main-jumbo{
    background-color: rgba(0,0,0,0);
}

footer{
    padding-top: 50px;
}
