{% extends 'base.html' %}

{% block content %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-warning">
                <ul class=flashes>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endwith %}

    <div id="fundo">
        <div class="container-fluid">
            <div class="jumbotron text-center" id="main-jumbo">
              {% block manchete %}
              {% endblock %}
            </div>
        </div>
    </div>

        <div class="container">
            <div class="row">
            {% block cards %}
            {% endblock %}
            </div>

        </div>

    </div>


{% endblock %}