{% extends 'base.html' %}


{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="alert alert-warning">
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endwith %}
<div class="jumbotron">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2>Register</h2>
            <form action="" method="POST">
                {{ form.csrf_token }}
                <div class="form-group">
                    <label>Nome</label>
                    {{ form.nome(class="form-control", placeholder="Seu nome completo")}}

                    {% if form.errors.nome %}
                        <div class="alert alert-danger" role="alert">
                            <ul>
                                {% for e in form.errors.nome %}
                                    <li>{{ e }} </li>
                                {% endfor %}
                            </ul>
                        </div>

                    {% endif %}
                </div>

                <div class="form-group">
                    <label>Emaill</label>
                    {{ form.email(class="form-control", placeholder="Seu email") }}

                    {% if form.errors.email %}
                        <div class="alert alert-danger" role="alert">
                            <ul>
                                {% for e in form.errors.email %}
                                    <li>{{ e }} </li>
                                {% endfor %}
                            </ul>
                        </div>

                    {% endif %}
                </div>

                <div class="form-group">
                    <label>Telefone Celular</label>
                    {{ form.celular(class="form-control", placeholder="Passa o zap") }}
                </div>
                <div class="form-group">
                    <label>Telefone Fixo</label>
                    {{ form.telefonefixo(class="form-control", placeholder="Você ainda tem isso?") }}
                </div>


                <div class="form-group">
                    <label>Senha</label>
                    {{ form.senha(class="form-control", placeholder="Escolha sua senha com cuidado")}}
                    {% if form.errors.senha %}
                        <div class="alert alert-danger" role="alert">
                            <ul>
                                {% for e in form.errors.senha %}
                                    <li>{{ e }} </li>
                                {% endfor %}
                            </ul>
                        </div>

                    {% endif %}
                </div>

                <div class="form-group">
                    <label>Confirme sua senha</label>
                    {{ form.confirmasenha(class="form-control", placeholder="Digite sua senha novamente") }}
                    {% if form.errors.confirmasenha%}
                        <div class="alert alert-danger" role="alert">
                            <ul>
                                {% for e in form.errors.confirmasenha%}
                                    <li>{{ e }} </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.assinante() }}
                    <label>Assine nossa newsletter</label>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-default">Enviar</button>
                </div>

                <div class="form-group">
                    <label><a href="{{ url_for('login') }}">Já tem uma conta? Faça login agora!</a></label>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}